@import url("https://fonts.googleapis.com/css?family=Roboto");

.card {
  font-family: "Roboto";
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 25px;
}
